.profile {
    display: flex;
    flex-wrap: wrap;
    width: 992px;
    margin: auto;
    padding: 100px;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 992px) {
        padding: 20px 0;
        flex-direction: column;
        width: auto;
    }
    .ant-avatar {
        height: 150px;
        width: 150px;
        border: 2px solid #ecf0f1;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .username {
            font-size: 35px;
        }
        .statistic {
            width: 80%;
            display: flex;
            justify-content: space-between;
            padding: 10px 0 20px 0;
        }
        a, .count {
            color: black;
            font-weight: 600;
        }
        @media screen and (max-width: 992px) {
            width: 90%;

        }
    }
}
