.thumbnail {
    background-position: center;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    &:hover {
        opacity: .6;
    }
}