.card {
    padding-top: 50px;
    display: inline-flex;
    max-width: 992px;
    margin: auto;
    Image {
        min-height: 60vh;
    }
    @media screen and (max-width: 992px) {
        flex-direction: column;
        max-width: 90%;
    }
}
