.popUp {
    max-height: 60vh;
    .ant-modal-body {
        display: inline-flex;
        padding: 0;
    }
    .ant-modal-close-x {
        position: fixed;
        top: 0;
        right: 0;
        color: white;
        font-size: 20px;
    }
}