.header {
    padding: 20px 0;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    .logos {
        display: flex;
        flex-wrap: no-wrap;
        align-items: center;
        .separator {
            background-color: #262626;
            height: 35px;
            margin: 0 12px 0 16px;
            width: 1px;
        }
    }
    .icons {
        display: flex;
        flex-wrap: no-wrap;
        > * {
            font-size: 25px;
            padding: 0 10px;
            cursor: pointer;
        }
    }
    input {
        background-color: #fafafa;
        border: solid 1px #dbdbdb;
        border-radius: 4px;
        text-align: center;
        padding: 3px;
    }
}