.postInfo {
    text-align: left;
    width: 300px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    border-left: none;
    padding: 20px 0;
    @media screen and (max-width: 992px) {
        width: 100%;
        border-top: none;
        border: 1px solid #e6e6e6;
        border-radius: 0px 0px 3px 3px;
    }
    .userdata {
        padding-left: 20px;
        display: flex;
        justify-content: space-around;
        .logo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: space-around;
        }
        .user {
            display: flex;
            flex-direction: column;
            .username {
                font-weight: 700;
            }
            .location {
                line-height: 15px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            a:link, a:visited {
                color: #262626;
            }
        }
    }
}