.layout {
    background-color: #fafafa !important;
    .container {
        max-width: 992px;
        display: flex;
        align-self: center;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}